<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${header}">Yeni kitab</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<style>#book-register-form{width:300px;margin:auto;}</style>
</head>
<body>
<div th:replace="menu::menu"></div>

	<h1  th:text="${header}" style="text-align:center; color:green">Yeni kitabS</h1>
	<form th:action="@{/books/new-book-process}" method="POST"
		th:object="${book}" id="book-register-form">
		
			 <input type="hidden" 
				th:field="*{id}" />
		
		
		<div class="form-group">
			<label for="book-name">Ad:</label> <input class="form-control" id="book-name"
				th:field="*{name}" />
		</div>




		<div class="form-group">
			<label for="book-description">Tesvir:</label>
			<textarea  class="form-control" id="book-description" th:field="*{description}"></textarea>
		</div>



		<div class="form-group">
			<label for="book-price">Qiymet:</label> <input class="form-control" type="number"
				id="book-price" th:field="*{price}" />
		</div>




		<div class="form-group">
			<label for="book-author">Muellif:</label> <input  class="form-control" id="book-author"
				th:field="*{author}" />
		</div>


		<div class="form-group">
			<label for="book-page-count">Sehife sayi:</label> <input
				 class="form-control" type="number" id="book-page-count" th:field="*{pageCount}" />
		</div>



		<input  class="btn btn-success" type="submit" value="Yadda saxla" />
	</form>
	<a th:href="@{/books}">Kitablarin siyahisi</a>
	
</body>
</html>